{% extends 'admin/base.html.twig' %}

{% block title %}s.s.s düzenle{% endblock %}

{% block body %}
    <p class="display-6 text-center">s.s.s düzenle</p>
    <hr>
    {{ form(form) }}

{% endblock %}
