{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-md-center ">
        <div class="col-md-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h3 class="h5 text-center mb-3 font-weight-normal">Giriş yap</h3>
                <label for="inputUsername">Kullanıcı adı</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                <label for="inputPassword">Şifre</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="input-group d-grid gap-2 mt-2">
                    <button class="btn btn-primary" type="submit">
                        Giriş Yap
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
