<!-- Section: Contact v.2 -->
<div class="container my-5">
    <hr>
    <section id="contact" class="text-center my-5">

        <!-- Section heading -->
        <h3 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
            <strong>
                Yorum Ekle
            </strong>
        </h3>

        <div class="row justify-content-md-center wow fadeIn" data-wow-delay="0.4s">

            <!-- Grid column -->
            <div class="col-md-8">
                <form action="{{ path('ajax_user_comment') }}" method="post">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" required name="name" id="form41" class="form-control">
                                <label for="form41" class="">İsim Soyisim</label>
                            </div>
                        </div>

                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" required name="phone" id="form52" class="form-control">
                                <label for="form52" class="">Telefon Numarası ( Sadece Yetkili Görür )</label>
                            </div>
                        </div>
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">

                            <div class="md-form mb-0">
                                <textarea type="text" required name="comment" id="form76" class="md-textarea form-control" rows="3"></textarea>
                                <label for="form76">Yorum</label>
                            </div>

                        </div>
                    </div>
                    <!-- Grid row -->
                    <div class="text-center text-md-left mb-5 mt-4">
                        <button name="sendComment" value="true" class="btn btn-rounded btn-block btn-success font-weight-bold">Gönder</button>
                    </div>
                </form>


            </div>
            <!-- Grid column -->

        </div>
    </section>
    <!-- Section: Contact v.2 -->
</div>