{% extends 'admin/base.html.twig' %}

{% block title %}Kurumsal Ekle{% endblock %}

{% block body %}
    <p class="display-6 text-center">Kurumsal Ekle</p>
    <hr>
    {{ form(form) }}

{% endblock %}
