/* Necessary for full page carousel*/
html,
body,
header,
.view {
    height: 100%;
}
@media (min-width: 451px) and (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 500px;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 550px;
    }
}

/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

