{% extends 'admin/base.html.twig' %}

{% block title %}Genel Ayarlar{% endblock %}

{% block body %}
    <p class="display-6 text-center">Genel Ayarlar</p>
    <hr>
    {{ form(form) }}

{% endblock %}
