<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center">
            <p class="display-4"><a href="{{ path('admin') }}" class="text-dark" style="text-decoration: none;">Yönetim Paneli</a></p>
            <p class="h4">{{ app.user.username }}</p>
            <a href="{{ path('app_logout') }}" class="btn btn-danger"><i class="fas fa-power-off"></i></a>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2 my-1 d-grid gap-2">
            <a href="javascript:void(0)" class="btn btn-dark">

            </a>
        </div>
    </div>
</div>