{% extends 'admin/base.html.twig' %}

{% block title %}Slider Düzenle{% endblock %}

{% block body %}
    <p class="display-6 text-center">Slider Düzenle</p>
    <hr>
    {{ form(form) }}

{% endblock %}
