{% extends 'admin/base.html.twig' %}

{% block title %}Marka İçerik Düzenle{% endblock %}

{% block body %}
    <p class="display-6 text-center">Marka İçerik Düzenle</p>
    <hr>
    {{ form(form) }}

{% endblock %}
